.watchlist {
}

.aniwari-card hr {
    margin-top: 0;
    margin-bottom: 0;
}

::deep .aniwari-card:first-child {
    padding-top: 10px;
}

::deep .aniwari-card > :first-child .watchlist-item:hover,
::deep .aniwari-card > :first-child .watchlist-item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

::deep .aniwari-card:last-child {
    padding-bottom: 10px;
}

::deep .aniwari-card > :last-child .watchlist-item:hover:not(.expanded),
::deep .aniwari-card > :last-child .watchlist-item:not(.expanded) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.noanime {
    align-items: center;
    justify-content: center;
}
