@using Aniwari.BL.Services;

@inject INyaaService NyaaService

<div class="torrent-picker">
    <button class="return-button" @onclick="() => OnSelectClicked(null)">
        Return
    </button>

    <div class="aniwari-card">

        @if (foundTorrents == null || foundTorrents.Count == 0)
        {
            <div class="aniwari-list-item">
                <div class="torrent-picker-item__name">
                    No results found
                </div>
            </div>
        }
        else
        {
            @foreach (var torrent in foundTorrents)
            {
                <div class="aniwari-list-item">

                    <div class="torrent-picker-item__name">
                        @torrent.Name
                    </div>

                    <div class="torrent-info-wrapper">
                        <div class="seeders">
                            @torrent.Seeders
                        </div>

                        <button class="torrent-picker-item__select" @onclick="() => OnSelectClicked(torrent)">
                            Select
                        </button>
                    </div>

                </div>
            }
        }
    </div>
</div>

@code {
    public record TorrentSelectedEventArgs(SettingsStore.Anime Anime, int Episode, bool Canceled, string Title, string Magnet);

    [Parameter] public SettingsStore.Anime? Anime { get; set; }
    [Parameter] public int? Episode { get; set; }
    [Parameter] public EventCallback<TorrentSelectedEventArgs> OnTorrentSelected { get; set; }

    private List<NyaaAnime>? foundTorrents = null;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        var prevAnime = Anime;
        var prevEpisode = Episode;

        await base.SetParametersAsync(parameters);

        if (Anime == null || Episode == null || (Anime == prevAnime && Episode == prevEpisode))
            return;

        string searchString = Anime.SearchString
        .Replace("@ep", $"{Episode:D2}")
        .Replace("@EP", $"{Episode}");

        foundTorrents = await NyaaService.GetAnime(searchString);
        StateHasChanged();
    }

    private async Task OnSelectClicked(NyaaAnime? torrent)
    {
        if (OnTorrentSelected.HasDelegate)
        {
            TorrentSelectedEventArgs args;

            if (torrent != null)
            {
                args = new TorrentSelectedEventArgs(Anime!, Episode!.Value, false, torrent.Name, torrent.Magnet);
            }
            else
            {
                args = new TorrentSelectedEventArgs(Anime!, Episode!.Value, true, "", "");
            }

            await OnTorrentSelected.InvokeAsync(args);
        }

        foundTorrents = null;
    }
}