.episode {
    min-height: 2rem;
}

    .episode:hover {
        background-color: var(--aniwari-li-hover-alt);
    }

        .episode:hover:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .episode.unknown {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .episode.watched {
        background-color: var(--aniwari-ok);
    }

    .episode.watched:hover {
        background-color: var(--aniwari-ok-alt);
    }

.episode__header {
    display: flex;
    gap: 1rem;
}

.episode__header {
}

.episode__reminder {
}

.aniwari-list-detail {
    flex-direction: column;
    margin: 0 10px;
    gap: 0;
    margin-bottom: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 35rem;
    overflow-y: auto;
}

.watchlist-item.noanime {
    justify-content: center;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

::deep .title-button {
    margin-left: 0.5rem;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.episodes-counter {
    display: flex;
    gap: 3px;
    margin-left: 10px;
}

    .episodes-counter:hover {
        font-weight: bold;
    }

    .episodes-counter.custom {
        color: var(--aniwari-blue);
    }

.watchlist-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 10px;
}

.searchstring-field {
    cursor: text;
}

    .searchstring-field, .searchstring-field:focus-visible {
        border: 0;
        outline: 0;
    }

.button-wrapper {
    display: flex;
    gap: 5px;
}

.episodes-wrapper {
    display: flex;
}

.button-end {
    margin: 0 0 0 auto;
}

.button-start {
    margin: 0 auto 0 1rem;
}