@using Aniwari.BL.Interfaces;
@using Aniwari.BL.Services;
@using Aniwari.Managers;

@inherits LayoutComponentBase

@inject ISettingsService SettingsService
@inject IThemeManager Theme
@inject IJSRuntime JS

<div class="page">
    <main>
        <Animate @ref="animator">
            @Body
        </Animate>
    </main>

    <Toaster />

    <div class="menu">
        <NavMenu Animator="animator" />
    </div>
</div>

@code {
    private Animate? animator;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await Theme.SetThemeColor(JS);
        }
    }
}
