.schedule-item {
    animation: show 0.2s 0.1s ease forwards;
    opacity: 0;
    justify-content: start;
    padding-left: 0;
}

    .schedule-item.watching {
        background-color: var(--aniwari-ok);
    }

        .schedule-item.watching:hover {
            background-color: var(--aniwari-ok-alt);
        }


.schedule-item__time {
    min-width: 100px;
    text-align: center;
}

.schedule-item__title {
}

.schedule-item-detail {
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    gap: 15px;
    border-radius: 0 0 10px 10px;
}

    .schedule-item-detail.watching {
        background-color: var(--aniwari-ok);
        border-bottom: 5px solid var(--aniwari-ok);
    }

.schedule-item-detail__group {
    display: flex;
    flex-direction: column;
}

.schedule-item-detail__img {
    height: 100%;
}

.schedule-item-detail__info {
    display: flex;
    flex-direction: column;
    flex-basis: 23rem;
    flex-grow: 1;
    gap: 15px;
}

.schedule-item-detail__label {
    font-weight: bold;
}

.schedule-item-detail__text {
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.schedule-item__watch {
    padding-top: 1px;
    margin-right: 10px;
}

.mal-link {
    word-break: break-all;
}