.settings {
}

.settings-item {
    display: flex;
    padding: 0 1rem;
    min-height: 1rem;
    align-items: center;
    justify-content: space-between;
}

    .settings-item:first-child {
        padding-top: 10px;
    }

    .settings-item:last-child {
        padding-bottom: 10px;
    }

.settings-item__description {
}

.settings-item__control {
    text-align: center;
}

.themecolor-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.archivepath-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.archivepath__path {
}

.switch-wrapper {
    min-width: 3.5rem;
}

.accent-preview {

    background-color: var(--aniwari-ok);
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--aniwari-bg);
}