@using Aniwari.BL.Repositories;
@using Aniwari.BL.Services;
@using Aniwari.Watchlist;

@page "/watchlist"

@inject IJSRuntime JSRuntime

@inject INyaaService NyaaService
@inject ISettingsService SettingsService
@inject IAnimeRepository AnimeRepository

@inherits ReactiveComponentBase

@if (Store == null) return;

<div class="aniwari-content watchlist">

    <TorrentPicker Torrents="selectedTorrents" OnTorrentSelected="OnTorrentSelected" />

    <div class="aniwari-card @(torrentPickerShown)">
        @{
            var lastAnime = watchingAnime.LastOrDefault();
        }

        @if (lastAnime == null)
        {
            <div class="aniwari-list-item watchlist-item noanime">You are not watching any anime</div>
        }
        else
        {
            <Virtualize Context="anime" Items="watchingAnime">

                <WatchlistItem Anime="anime" OnSearch="SearchAnime" />
                
                @if (anime != lastAnime)
                {
                    <hr>
                }
            </Virtualize>
        }
    </div>
</div>

@code {
    private SettingsStore? Store;
    private List<SettingsStore.Anime> watchingAnime = new();
    private List<NyaaAnime>? selectedTorrents = null;
    private int savedScroll = 0;

    private string torrentPickerShown => selectedTorrents != null ? "hidden" : "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Store = SettingsService.GetStore();
        watchingAnime = Store.Animes.Where(x => x.Watching).ToList();
    }

    private async Task SearchAnime(WatchlistItem.SearchEventArgs args)
    {
        savedScroll = await JSRuntime.InvokeAsync<int>("getDocumentScrollTop");

        string searchString = args.Anime.SearchString
        .Replace("@ep", $"{args.Episode:D2}")
        .Replace("@EP", $"{args.Episode}");

        selectedTorrents = await NyaaService.GetAnime(searchString);
    }

    private async Task OnTorrentSelected(TorrentPicker.TorrentSelectedEventArgs args)
    {
        selectedTorrents = null;
        StateHasChanged();
        await Task.Delay(150);
        await JSRuntime.InvokeVoidAsync("setDocumentScrollTop", savedScroll, true);
        savedScroll = 0;
    }
}