@using Aniwari.BL.Services;

@inherits LayoutComponentBase

@inject ISettingsService SettingsService
@inject IJSRuntime JS

<div class="page">
    <main>
        <Animate @ref="animateMainBody">
            @Body
        </Animate>
    </main>

    <div class="menu">
        <NavMenu Animator="animateMainBody" />
    </div>
</div>

@code {
    private Animate? animateMainBody;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var color = SettingsService.GetStore().ThemeColor;
            await JS.InvokeVoidAsync("setThemeColors", color);
        }
    }
}
