.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    flex: 1;
}

.menu {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #efefef;
}