::deep .nav-item a {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    gap: 5px;
    transition: background-color 0.5s ease;
}

    ::deep .nav-item a:hover {
        transition: background-color 0.5s ease;
        border-radius: 4px;
        background-color: var(--aniwari-bg-alt);
    }

    ::deep .nav-item a.active {
        transition: background-color 0.5s ease;
        border-radius: 4px;
        background-color: var(--aniwari-bg-alt);
        box-shadow: var(--aniwari-boxshadow);
        text-decoration: none;
        color: black;
    }

.nav-item__icon {
    font-size: 32px;
}

nav {
    transition: padding-right 0.5s ease;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0px -20px 20px 0px #0000000d;
    background-color: var(--aniwari-bg);
}

.nav-item-wrapper {
    display: flex;
    gap: 10px;
}
