@inject IJSRuntime JS

<nav @ref="navReference">
    <div class="nav-item-wrapper">
        <div class="nav-item">
            <NavLink href="schedule" @onclick="OnNavLinkClicked">
                <i class="nav-item__icon bi bi-calendar3"></i> Schedule
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="watchlist" @onclick="OnNavLinkClicked">
                <i class="nav-item__icon bi bi-list-ul"></i> Watchlist
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="settings" @onclick="OnNavLinkClicked">
                <i class="nav-item__icon bi bi-gear-fill"></i> Settings
            </NavLink>
        </div>
    </div>
</nav>

@code {

    private IJSObjectReference? module;
    private ElementReference navReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/NavMenu.razor.js");
        await module.InvokeVoidAsync("animateActiveNav", navReference);
    }

    private void OnNavLinkClicked()
    {
        // implicit call to StateHasChanged
    }
}
